/* background #5169d5 border #85b396 orange box #e69810 red center #fb6151*/

/* main body */
body {
    margin: 0px;
    background-color: #5169d5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Helvetica, sans-serif;
}

/* horizontal tictactoe text */
.horiz-text {
    margin-top: 400px;
    margin-right: 200px;
    margin-left: -50px;
    color: white;
    font-style: italic;
}

/* vertical tictactoe text */
.verti-text {
    transform: rotate(-90deg);
    color: white;
    font-style: italic;
    margin-top: -400px;
    margin-left: 200px;
}

/* player scores section */
.playerscores {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    border-left: 2px solid yellow;
    padding-left: 20px;
}

.player-x, .player-o, .draw {
    display: flex;
    gap: 10px;
}

/* gameboard */
.gameboard {
    margin-top: 150px;
    margin-left: 150px;
    width: 350px;
    height: 350px;
    border: 5px #85b396 solid;
}

.horiz-one, .horiz-two, .horiz-three {
    display: flex;
}

.horiz-two {
    border-top: 4px white solid;
    border-bottom: 4px white solid;
}

#one, #three, #seven, #nine {
    width: 117px;
    height: 114px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#five {
    width: 120px;
    height: 114px;
    background-color: #fb6151;
    border-left: 4px white solid;
    border-right: 4px white solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

#two, #four, #six, #eight {
    width: 117px;
    height: 114px;
    background-color: #85b396;
    display: flex;
    justify-content: center;
    align-items: center;
}
